*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.hprof
app/src/main/jniLibs/**/*.so
!app/src/main/jniLibs/.gitkeep
app/src/main/assets/xray
build-output/
